html, body {
  padding: 0;
  margin: 0;
  background: #000;
  color: #fff;
}

ul {
  margin: 0 0 100px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


@media (min-width: 1024px) {
  ul {
    margin-bottom: 50px
  }
}

li {
  width: 100%;
  flex-basis: 100%;
  position: relative;
  overflow: hidden;
}

@media (min-width: 412px) {
  li {
    width: 50%;
    flex-basis: 50%;
  }
}

@media (min-width: 668px) {
  li {
    width: 33.3333%;
    flex-basis: 33.3333%;
  }
}

@media (min-width: 938px) {
  li {
    width: 25%;
    flex-basis: 25%;
  }
}

@media (min-width: 1152px) {
  li {
    width: 20%;
    flex-basis: 20%;
  }
}

li:after {
  content: "";
  display: block;
  padding-bottom: calc(100vh - 100px);
}

@media (min-width: 1024px) {
  li:after {
    padding-bottom: calc(100vh - 50px);
  }
}



li:hover::before {
  content: attr(data-year);
  display: block;
  font-size: 200%;
  font-weight: bold;
  position: absolute;
  bottom: .4rem;
  left: .6rem;
  z-index: 1
}

.tracks {
  position: absolute;
  bottom: .4rem;
  font-weight: bold;
  visibility: hidden;
  right: .6rem;
  font-size: 200%;
}

li:hover .tracks {
  visibility: visible;
}

.tracks small {
  font-size: 40%
}

.background {
  background-position: center;
  position: absolute;
  background-size: cover;
  width: 200%;
  height: 200%;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  filter: brightness(.6) blur(5px)
}

ul li img {
  width: 200px;
  max-width: 75%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -75%, 0);
  box-shadow: 0 10px 9px rgba(0, 0, 0, .4)
}

.meta {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 90%;
  margin-top: 50px;
}

.meta h1 {
  font-size: 1.3rem;
}

.meta h2 {
  font-size: 1rem;
}

.meta h1+h2 {
  margin-top: -10px;
}

span {display: block;}

button, a, a:link, a:visited, a:hover {
  color: white;
  text-decoration: underline;margin: auto 5px;
  cursor: pointer;
}

button {
  background: none;
  border: 0;
  font-size: 100%
}

.PlayerRSWP {
  position: fixed;
  bottom: 0;
  z-index: 100;
}

.black-box {
  height: 150px;
  background: linear-gradient(to bottom,rgba(0, 0, 0, 0) 0,rgba(0, 0, 0, 80%) 100%);
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
}

@media (min-width: 1024px) {
  .black-box {
    height: 75px
  }
}

.connect {
  width: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0)
}

.title {
  text-align: center;
  position: fixed;z-index: 1000;
  background-color: black;
  margin: 0;padding: .8rem 0; width: 100%;
}